@use "./abstracts/_functions" as *;
@use "./abstracts/_mixins" as *;
@use "./abstracts/_variables" as *;
@use "./abstracts/placeholders" as *;
@use "./base/_global-rules" as *;

.container {
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    @include linear-gradient(135deg, #153677 , #4e085f);
    .todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    & h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    & img {
        width: 30px;
        margin-left: 10px;
    }
    }
    & .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #edeff0;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        padding-left: 20px;
        margin-bottom: 25px;
        & input {
            flex: 1;
            @extend %reset-edges;
            background-color: transparent;
            padding: 10px;
        }
        & button {
            @extend %reset-edges;
            padding: 16px 50px;
            background-color: #ff5645;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            border-radius: 40px;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            -ms-border-radius: 40px;
            -o-border-radius: 40px;
}

    }

        & ul li{
            position: relative;
            font-size: 17px;
            padding: 12px 8px 12px 50px;
            user-select: none;
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                @include circle(26px);
                background-size: cover;
                background-position: center;
                background-image: url(../images/unchecked.png);
                top: 12px;
                left: 8px;
            } 

            &.checked {
                text-decoration: line-through;
                &::before {
                    background-image: url(../images/checked.png);
                }
            }
            & span {
               position: absolute;
               right: 0;
               top: 5px;
                @include circle(40px);
               font-size: 22px;
               color: #555;
               line-height: 40px;
               text-align: center; 
                &:hover {
                    background-color: #edeef0;
                }
            }
        }
    }

}



